body {
    color: DarkSlateBlue;
    background: Lavender;
    font-family: 'Cooper Black', serif;
    text-align: center;

    .form{
       display: inline-block;
    }
}

title{
    color: black; 
    font-family: Courier New;
    size: 40;
    .subtitle{
	size: 14;
    }
}

.form{
    display: inline-block;
}

img{
    border-radius:50%;
    border:3px solid black;
}

h1 {
    font-size:60px;
}
