<!DOCTYPE HTML>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/static/css/posts.css"/>
    <title>Posts for Class</title>
  </head>
  <body>
<a href="/profile"><img src="/static/img/quokka.PNG"/></a>
    <div id="header">
      <h1>Posts for: {{course.course_name}} Section {{section.section_number}} </h1>
      <p>{{assignment.description}}</p>
    <ul id="top">
    <li class="filter">Filter</li>
    <li class="post"><a href="{{url_for('createPost', assignment_id = assignment.assignment_id, section_id=section.section_id)}}" method="POST">Add a post</a></li>
    </ul>
    </div>
    <br></br>
    <div>
      <div id="request">
      <ul id="need">
      <li class="need"><a href="{{url_for('getAllPosts', assignment_id = assignment.assignment_id, section_id = section.section_id)}}" method="POST">All posts</a>
      <li class="need"><a href="{{url_for('getNeedMemberPosts', assignment_id = assignment.assignment_id, section_id = section.section_id)}}" method="POST">I Need A Member</a></li>
      <li class="need"><a href="{{url_for('getNeedTeamPosts', assignment_id = assignment.assignment_id, section_id = section.section_id)}}" method="POST">I Need A Team</a>
      </li>
      </ul>
      </div>
      <br></br>
      {% for post in posts %}
      <div id="post">
        <h6>{{post.time_posted}}</h6>
        <p>{{post.message}}</p>
	      <a href="{{url_for('respond_post', id=post.post_id)}}">Respond to this post!</a>
        {% if currentuser.u_id == post.u_id %}
        <div class="deletepost"><a href="{{ url_for('deletePost', section_id = section.section_id, assignment_id = assignment.assignment_id, post_id = post.post_id) }}">Delete this post</a>
        {% endif %}
      </div>
      {% endfor %}
    </div>	
  </body>
</html>
