<!DOCTYPE HTML>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/static/css/posts.css"/>
    <title>Posts for Class</title>
  </head>
  <body>
<img src="/static/img/quokka.PNG"/>
    <div id="header">
      <h1>Posts for Class</h1>
    <ul id="top">
    <li class="filter">Filter</li>
    <li class="post">AddPost</li>
    </ul>
    </div>
    <br></br>
    <div>
      <div id="request">
      <ul id="need">
      <li class="need">NeedTeam</li>
      <li class="need">NeedMembers</li>
      </ul>
      </div>
      <br></br>
      <div id="post">
        <h6>
        12/8/16 9:34 PM
        </h6>
        <p>
        Hey, I'm looking for a group.
        </p>
    </div>
      <div id="post">
        <h6>
        12/8/16 9:36 PM
        </h6>
        <p>
        We're looking for another member.
        </p>
    </div>
      <div id="post">
        <h6>
        12/8/16 9:37 PM
        </h6>
        <p>
        We need a topic.
        </p>
        </div>
    </div>	
  </body>
</html>
