<!DOCTYPE HTML>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/static/css/posts.css"/>
    <title>Posts for Class</title>
  </head>
  <body>
<img src="/static/img/quokka.PNG"/>
    <div id="header">
      <h1>Posts for: {{course_name}} Section {{section_number}} </h1>
    <ul id="top">
    <li class="filter">Filter</li>
    <li class="post">AddPost</li>
    </ul>
    </div>
    <br></br>
    <div>
      <div id="request">
      <ul id="need">
      <li class="need">NeedTeam</li>
      <li class="need">NeedMembers</li>
      </ul>
      </div>
      <br></br>
      {% for post in posts %}
      <div id="post">
        <h6>{{post.time_posted}}</h6>
        <p>{{post.message}}</p>
	<p>{{post.post_id}} {{post.assign_id}} {{post.section_id}} {{post.u_id}} {{post.type}}</p>
	<a href="{{url_for('respond_posts', id=post.post_id)}}">Respond to this post!</a>
      </div>
      {% endfor %}
    </div>	
  </body>
</html>
