{% extends 'layout.html' %}
{% block heading %}Feeds for: {{course.course_name}} section {{section.section_number}} {% endblock %}
{% block content %}
{% if assignments|length > 0 %}
<p>Select an assignment:</p><form name="assignments" action="{{ url_for('getPosts', section_id=section.section_id) }}"  method="POST">
   <select name="selected_assignment">
   {% for assignment in assignments %}
   <option value ="{{ assignment.assignment_id }}">{{assignment.description}}</option>
   {% endfor %}
   </select>
   <button type="submit">Get Feed</button>
</form> 
{% else %}
<p>No assignments added for this class's section yet!</p>
{% endif %}
{% endblock %}
