{% extends 'layout.html' %}
{% block heading %}Inbox: {% endblock %}
{% block content %}
<h3>User Responses:</h3>
{% if user_responses|length == 0 %}
<p>You do not have any responses from users!</p>
{% endif %}
<p>Create a new group with a user by typing in a group name and clicking 'Accept'!</p>
{% for response in user_responses %}
<p><b>Assignment:</b> {{response.description}}</p>
<p><b>From User:</b> {{response.name}}</p>
<p><b>Time:</b> {{response.time_posted}}</p>
<p><b>Message:</b> {{response.message}}</p>
<form action="{{url_for('group_inbox', id=id)}}" method="POST">
<input type="submit" name="{{response.post_id}} {{response.u_id}}" value="Accept">
<input type="submit" name="{{response.post_id}} {{response.u_id}}" value="Reject">
</form>
{% endfor %}
{% endblock %}
