{% extends 'layout.html' %}
{% block heading %}Sign In{% endblock %}
{% block content %}
<form action="{{url_for('login_user')}}" method="POST">
  {{form.csrf_token}}
  <div class="container">
  <p>
    Email: {{form.email}}
    {% if form.email.errors %}
    <ul>{% for error in form.email.errors %}<li>{{error}}</li>{% endfor %}</ul>
    {% endif %}
  </p>
  <p>
    Password: {{form.password}}
    {% if form.password.errors %}
    <ul>{% for error in form.password.errors %}<li>{{error}}</li>{% endfor %}</ul>
    {% endif %}
  </p>
    <button type="submit">Login</button>
    <input type="checkbox" checked="checked"> Remember me
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
</form>
<hr/>
<p><a href="{{url_for('login_user')}}">Register</a></p>
{% if user %}
You are logged in as {{user.email}}<br>
<a href="{{url_for('new_group')}}">Create Group</a>
{% endif %}
{% endblock %}
