<!DOCTYPE HTML>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/static/css/membersof.css"/>
    <title>Members Of</title>
  </head>
  <body>
<img src="/static/img/quokka.PNG"/>
      <h1>Members Of: {{group.group_name}}</h1>
    <br></br>
     <div class="groups">
  {% for m in member %}
  <div class="information">
  <p>{{m.name}}</p>
  <p>Email: {{m.email}}</p>
  <p>Phone: {{m.phone}}</p>
  <p>Major 1: {{m.first_major}}</p>
  <p>Major 2: {{m.second_major}}</p>
  <p>Grad Year: {{m.grad_year}}</p>
  </div>
  {% endfor %}
     </div>
  </body>
</html>

