<!DOCTYPE HTML>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/static/css/myclasses.css"/>
    <title>My Classes</title>
  </head>
  <body>
<img src="/static/img/quokka.PNG"/>
    <div id="header">
      <h1>My Classes</h1>
    </div>
    <br></br>
     <div id="groups">
        <h3>
        Class: CS 316 Intro to Databases
        <h3>
        Course Project: Quokka
        </h3>
     <div id="members">
     <h2>
     SeePosts
     </h2>
     </div>
     </div>
  </body>
</html>

