<!DOCTYPE HTML>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/static/css/list.css"/>
    <title>My Groups</title>
  </head>
  <body>
<img src="/static/img/quokka.PNG"/>
      <h1>My Classes</h1>
    <br></br>
     <div class="groups">
        <section>
        <h3>
        Class: CS 316 Intro to Databases
        <h3>
        Course Project: Quokka
        </h3>
        </section>
     <aside>
     <h2>
    <a href="{{url_for('course_id')}}">See Posts</a>
     </h2>
     </aside>
     </div>
  </body>
</html>

