<!DOCTYPE HTML>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/static/css/mygroups.css"/>
    <title>My Groups</title>
  </head>
  <body>
<img src="/static/img/quokka.PNG"/>
    <div id="header">
      <h1>My Groups</h1>
    </div>
    <br></br>
     <div class="groups">
        <section>
        <h3>
        Class: CS 316 Intro to Databases
        <h3>
        Course Project: Quokka
        </h3>
        </section>
     <aside>
     <h2>
     SeeMembers
     </h2>
     </aside>
     </div>
  </body>
</html>

