{% extends 'layout.html' %}
{% block heading %}User Information: {{user.name}}{% endblock %}
{% block content %}
<p>Name: {{user.name}}</p>
<h2>My Groups:</h2>
{% if groups|length > 0 %}
<ul>
{% for group in groups %}<li>{{group.group_name}}</li>{% endfor %}
</ul>
{% else %}
<p>You are not in any groups!</p>
{% endif %}
<h2>My Classes:</h2>
{% if classes|length > 0 %}
<ul>
{% for classThing in classes %}<li>{{classThing.course_code}}</li>{% endfor %}
</ul>
{% else %}
<p>You are not in any classes!</p>
{% endif %}
{% endblock %}
