{% extends 'layout.html' %}
{% block heading %}My Information: {% endblock %}
{% block content %}
<head>
  <link type="text/css" rel="stylesheet" href="/static/css/myclasses.css"/>
</head>
<p>Name: {{user.name}}</p>
<p>Phone: {{user.phone}}</p>
<p>E-mail: {{user.email}}</p>
{% if isStudent %}
<p>First Major: {{user.first_major}}</p>
<p>Second Major: {{user.second_major}}</p>
<p>Graduation Year: {{user.grad_year}}</p>
{% endif %}

<div class="listings">
	{% if isStudent %}
	<div class="my_groups">
		<h2>My Groups:</h2>
		{% if groups|length > 0 %}
		<ul>
		{% for group in groups %}
		<div class="group"><li><a href="{{url_for('membersOf', g_id=group.g_id)}}">{{group.group_name}}</a></li></div>
		{% endfor %}
		</ul>
		{% else %}
		<p>You are not in any groups!</p>
		{% endif %}
		{% endif %}
	</div>
	<div class="my_classes">
		<h2>My Classes:</h2>
		{% if classes|length > 0 %}
		<ul>
		{% for classThing in classes %}
		<div class="course">
		<li>Class: {{classThing.course_pre}} {{classThing.course_code}} {{classThing.course_name}}</li>
		<p>Section: {{classThing.section_number}}</p>
		<p>Semester: {{classThing.course_semester}}</p>
		<p>@ {{classThing.university_name}}</p>
		{% if isStudent %}
		<p><a href="{{url_for('classfeed', id=classThing.section_id)}}"> See Posts, Meet Mates!</a></p>
		<a href="{{url_for('new_group', sectionid=classThing.section_id)}}">Add Group</a>
		{% endif %}
		<br></br>
		</div>
		{% endfor %}
		</ul>
		{% else %}
		<p>You have not added any classes!</p>
		{% endif %}
	</div>
</div>
{% if isStudent %}
<p>Register for a class <a href="/register-class">here</a>!</p>
<p>Make a post! <a href="/create-post">Click here</a>!</p>
{% else %}
<p>Create a class <a href="/create-class">here</a>!</p>
<p>Create a new assignment <a href="/new-assignment">here</a>!</p>
{% endif %}
{% endblock %}
